.index-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 44px;
}

.index-links {
  font-size: 44px;
  color: rgb(50, 48, 48);
  transition: color 0.5s ease-in-out;
}

.index-links:hover {
  color: rgb(20, 181, 181);
}
